.movie-item-img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover; 
    object-fit: cover;
} 
/* 
Es una forma de asegurarse de que el contenido se ajuste y se muestre
completamente sin distorsi칩n, recortando partes si excede las dimensiones del contenedor.
-o-object-fit: Este prefijo era necesario para que Opera pudiera reconocer y aplicar
la propiedad. 
object-fit: Esta es la versi칩n sin prefijo y es compatible con la mayor칤a de los
navegadores modernos que soportan las especificaciones CSS m치s actualizadas. */

/* Estilo que se usr치 desde js para que al recorrer la p치gina 
el encabezado cambie de color */
.scrolled{
    background-color: var(--third-color);
}
/* movie-item-detail */
.movie-item-detail {
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    position: absolute;
    background-color: var(--third-bis-color);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.movie-item-detail-title {
    color: white;
    margin: 5px 0px 0px 0px;
}
  
.movie-item-detail-subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

#top-rated{
    margin: 50px 0px;
}
/* movie-item-v2 */
.movie-item-v2{
    border-radius: 20px;
    width: 170px;    
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    
}

.wrapper {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    overflow: hidden;
}

.movie-item-img-v2 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.movie-item-detail-v2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-item-detail-title-v2 {
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.movie-item-detail-subtitle-v2 {
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}
/* logo:hover */
#logo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
/* popular,#top-rated */
#popular,#top-rated {
    text-align: center;
}

#popular h2,#top-rated h2{
    margin: 30px 0px;
}

.movie-item{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}
/* Efecto que ocurre al pasar el cursor sube una ventana en 
cada imagen de cada pel칤cula y muestra los detalles */
.movie-item:hover{
    opacity: 0.9;
}

.movie-item:hover .movie-item-detail {
    bottom: 0;
} */
 
/* Agrega una estrella al lado del subtitulo */
.movie-item-detail-subtitle::after{
    content: '游';
}
/* Estilos a los nombres de las pel칤culas que 
est치n en la secci칩n  */
.movie-item-detail-title-v2:hover {
    color: var(--primary-color);
}
/* Se agrega un scroll */
.movies-scroller{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0px 0px 40px 0px;
}
.movie-item-v2{
    border-radius: 20px;
    width: 170px;    
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    
}


.movie-item-detail-v2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.movies-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    row-gap: 20px;
} 

/* width */
 ::-webkit-scrollbar {
    width: 10px;
} 
  
/* Track */
 ::-webkit-scrollbar-track {
    background: var(--bg-input-color); 
} 
   
/* Handle */
 ::-webkit-scrollbar-thumb {
    background: var(--third-color); 
} 
  
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: var(--third-bis-color); 
}


.d-form{
    width: 100%;
    margin-bottom: 20px;
}

.d-iframe{
    width: 100%;
} 