<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <title>Staff</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../templates/Appointments/index.html">Registro</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Redes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Clinica Online</h1>
        <ul>
            <li>Medicina Nuclear</li>
        </ul>
    </main>
    <footer>
        <p>Derechos Reservados</p>
    </footer>
</body>
</html>